@media screen and (max-width: 991px) {

  .section-wrp {
    padding: 49px 40px;
  } 

  .section-subtitle {
    font-size: 12px;
    line-height: 2.33em;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: none;
  }
  
  .section-title {
    margin-bottom: 49px;
    font-size: 37px;
    line-height: 1.16em;
    font-weight: 400;
    letter-spacing: 3.66px;
  }


  .header {
    height: 82px;
  }

  .header-wrp {
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  }
  
  .header-logo {
    display: none;
  }

  .header-mobile__btn {
    display: flex;
  }

  .header-menu {
    display: none;
  }

  .header-menu__link {
    margin-top: 0;
    margin-bottom: 0;
    text-align: start;
    list-style: none;
  }

  .header-mobile-whatsapp-btn {
    display: block;
  }

  .modal-link {
    display: none;
  }

  .sidebar__close {
    position: absolute;
    right: 60px;
    top: 60px;
  }

  .about-left__caption {
    margin-bottom: 26px;
    font-size: 37px;
  }

  .about-left__text {
    font-size: 15px;
    max-width: 100%;
  }

  .about-left__sml-brand {
    margin-left: 41px;
    width: 78px;
    height: 66px;
  }

  .about-left__bi-brand {
    width: 156px;
    height: 39px;
  }

  .about-left,.about-right {
    width: 100%;
  }

  .about-brand-block {
    display: none;
  }

  .about-right__wrp-img {
    width: 63vh;
    height: 63vh;
    max-height: 573px;
    max-width: 521px;
  }

  .about-right__img-description {
    width: 63vh;
    max-width: 521px;
  }

  .about-content {
    flex-direction: column;
  }

  .about-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0px;
  }

  /* FACADE */

  .facade {
    height: 620px;
    background-position: 80% 100%;
  }

  .facade-prop {
    width: 39%;
  }

  /* BIRD */

  .map-content {
    height: 620px;
    overflow: auto;
  }

  .map-div {
    width: 1146px;
  }

  .map-note-block--rixos {
    width: 120px;
  }

  .map-note-block--park {
    width: 126px;
  }

  .map-note-block--aktau {
    width: 130px;
  }

  .map-note-block--golf {
    width: 98px;
  }

  .map-note-block--parking {
    width: 164px;
  }

  .map-note-block--otel1 {
    width: 68px;
    right: 21.4%;
  }
  
  .map-note-block--otel2 {
    width: 135px;
    right: 8%;
  }

  .map-note-block--otel3 {
    width: 68px;
    right: 1%;
  }

  .map-note-block--promenad {
    width: 168px;
  }

  /* desc */

  .desc-left__text { 
    font-size: 15px;
  }

  .desc-right__title {
    /* font-size: 19px; */
    margin-bottom: 6px;
  }

  .desc-right__text {
    /* font-size: 15px; */
    margin-bottom: 6px;
  }

  .desc-right__subtitle {
    line-height: 1.62em;
  }

  .desc-item__img {
    width: 62px;
    height: 62px;
  }

  .desc-left__text {
    max-width: 405px;
  }

  .item-texts {
    margin-left: 14px;
  }

  .desc-item {
    margin-bottom: 42px;
  }

  /* contacts */

  .footer-tab-div {
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
  }

  .contact-map-div {
    max-width: none;
    width: 100%;
    height: 560px;
    margin-left: 0px;
  }

  .contact-place-full {
    width: 100%;
  }

  .contact-block-half {
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .contact-div {
    align-items: center;
  }

  .contact-btn-div {
    max-width: 510px;
  }

  /* design */

  .design-tab-menu {
    position: relative;
    bottom: 0;
    justify-content: flex-end;
    margin-top: 30px;
  }

  .design-slider {
    width: 100%;
    height: 630px;
    display: flex;
    align-items: flex-end;
    /* background-image: url(images/design/design-slide-img-0.jpg); */
    background-size: cover;
    padding-bottom: 50px;
  }

  .owl-prev {
    top: 40%;
  }

  .owl-next {
    top: 40%;
  }

  .design-slider__caption {
    font-size: 30px;
  }

  .design-slider__text {
    font-size: 15px;
  }

  /* planirovki */

  .calc-img-div {
    width: 65%;
    min-width: 250px;
    margin-left: 0;
    position: relative;
    top: 0;
    margin-bottom: 20px;
  }

  .all-plan-link {
    display: none;
  }

  /* contacts */

  .contact-map-div {
    height: 480px;
  }

  .form__title,.form__subtitle {
    text-align: center;
  }

  /* bottom */

  .bottom-wrp {
    padding: 40px 20px 38px;
  }
  
  .bottom-content {
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .bi-group-logo-div {

  }

  .bottom__text {
    margin-bottom: 30px;
    width: calc(100% - 190px);
  }

  .bottom-social {
    margin-left: auto;
    margin-right: auto;
  }

  .bottom-logo__image {
    margin-top: 16px;
  }

}